<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tasks app</title>
    <link rel="stylesheet" href="assets/css/styles.css">
</head>
<body>
    <div id="app">
        <nav class="nav">
            <ul>
                <li><a href="/index.html">Index</a></li>
                <li><a href="/mistareas.html">Tasks</a></li>
                <li><a href="#">Contacts</a></li>
            </ul>
        </nav>
        <h1 class="text-center texto-fino">Tasks App</h1>
        <div class="tasks-app">
            <div class="create-tasks">
                <h2 class="text-center texto-fino">New Tasks</h2>
                <input type="text" placeholder="Title" v-model="newTask.title">
                <input type="file" accept="image/*" @change="handleImageUpload">
                <input type="date" v-model="newTask.date">
                <textarea placeholder="Description" v-model="newTask.description"></textarea>
                <button @click="addTasks" class="btn-create">Create Tasks</button>
            </div>
            <div class="tasks">
                <article class="tasks__article" v-for="task in listTasks">
                    <h2 class="text-center">{{task.title}}</h2>
                    <img class="tasks-image" v-if="task.image" :src="task.image">
                    <p>{{task.description}}</p>
                    <p>Date: {{task.date}}</p>
                    <button @click="deleteTask" class="btn-delete">Delete</button>
                    <button class="btn-edit">Edit</button>
                </article>
            </div>
        </div>
        <footer class="footer">
            <a target="Github.jpg" href="https://github.com/UdayKiranV912"><img src="img/icon-github.png"></a>
            <a target="LInkedin.jpg" href="https://www.linkedin.com/in/uday-kiran-v-1679111bb"><img src="img/icon-linkedin.png"></a>
        </footer>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="assets/js/index.js"></script>
</body>
</html>
